.pageDetailRecipe {

    padding-bottom: 50px;

    img {
        width: 600px;
        height: auto;
        padding: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }


    .ingre_recette {
        text-align: center;
        margin-bottom: 50px;
    }

    .prepa_recette {
        text-align: center;
        margin-bottom: 50px;
    }

    .infos_recette {
        text-align: center;
    }

}